*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    text-align: center;
    height: 300px;
    width: 100%;
    padding: 70px;
    color: #252525;
}


.section1{
    height: 450px;
    background-image: url(the-beacon.jpg);
    background-size: cover;
    position: relative;
    color: white;
    padding: 20px;
    padding-left: 700px;
    padding-right: 250px;
}

.section1 h1{
    background-color: white;
    width: 420px;
    color: #252525;
    padding: 20px;
    margin: 20px;
}

.section1 p {
    padding: 20px;
    margin: 20px;
    background-color: #252525;
}

.s1p1 {
    width: 290px;
}

.s1p2{
    width: 340px;
}

.s1p3 {
    width: 260px;
}

.button{
    background-color: rgb(8, 167, 196);
    margin: 0px 0px 0px 20px;
    padding: 20px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    position: absolute;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    margin: 0 25%;
    list-style-type: none;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

header a:hover{
    color:#0BA39C;
}

.pictures{
    height: 300px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.p1{
    margin: 50px 40px;
    height: 242px;
    border: solid 2px;
    border-color: #252525;
}

.p2{
    margin: 50px 40px;
    height: 242px;
    border: solid 2px;
    border-color: #252525;
}

.p3{
    margin: 50px 40px;
    height: 242px;
    border: solid 2px;
    border-color: #252525;
}

.Ptexts{
    display: flex;
    text-align: center;
    margin: 30px;
    margin-bottom: 60px;
    justify-content: center;
}

.Ptext{
    margin: 0px 140px;
}

.Fdooter{
    height: 175px;
    background-color: #252525;
    display: flex;
    justify-content: right;
}

.Ftext{
    padding: 75px 600px 10px 150px;
    color: white;
}

.Fimg{
    height: 50px;
    width: 100px;
    padding: 75px 0px;
}
